
@import './fade.css';
@import './pulse.css';
@import './scale.css';
@import './shadow.css';
@import './slide.css';
@import './score-indicator.css';
@import './glassmorphism.css';
@import './mobile.css';
