
@keyframes shimmer {
  0% { background-position: -200% 0;}
  100% { background-position: 200% 0;}
}
.animate-shimmer {
  background: linear-gradient(
    90deg,
    rgba(255,255,255,0.02) 0%,
    rgba(255,255,255,0.07) 50%,
    rgba(255,255,255,0.02) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 3s linear infinite;
}
